@model ProdigyScout.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Student Details";
}

<h1>Details</h1>
<hr />
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <hr />
    <dl class="row" style="text-align: left;">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GraduationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GraduationDateFormatted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Degree)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-success" asp-action="Index">Back to List</a>
</div>
