@model Team09.Models.Prospect

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prospect</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.first_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.first_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.last_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.last_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPA)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
